body
{
background: linear-gradient(to right, #bdc3c7, #2c3e50); 
}
h1
{
    text-align: center;
    color: white;
    text-shadow: 3px 2px black;
}
div
{
    border: 4px solid lightgrey;
    background-color: lightgrey;
    max-width: 300px;
    width:auto;
    margin: 100px auto;
    padding: 50px 25px 50px 13px;
}
input[type=submit]
{
    border: 2px solid black;
    padding: 5px 10px 5px 10px;
}
.butlog{
    text-decoration: none;
}